body {
	text-align: center;
	display: inline;
}

.fields {
	display: inline;
	/*border: 1px solid black;*/
}

.instruction {
	display: block;
	/*border: 1px solid blue;*/
}

.equation {
	display: inline;
	/*border: 1px solid black;
*/
}


#sign {
	padding-left: 10px;
	padding-right: 10px;
}

#operation div {
	display: inline;
}
